[screen="train"] {
  .train {
    margin: 30px 0;

    .question {
      background: $primary;
      color: #ffffff;
    }

    .answer {
        width: 100%;
        color: $primary;
        border: none;
    }

    .next {
      background: $third;
      color: rgba(255,255,255,0.9);
      text-align: center;
      font-weight: 700;
      font-size: 24px;
      cursor: pointer;

      &:hover {
        background:darken($third, 10%);
      }
    }

  }
}
